
html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* Grid */

.container {
  &--full-height {
    @include media-breakpoint-up(sm) {
      min-height: calc(100vh - 179px);
    }
    @include media-breakpoint-up(md) {
      min-height: calc(100vh - 120px);
    }
    @include media-breakpoint-down(sm) {
      min-height: calc(100vh - 234px);
    }
    >.container-fluid {
      >.row {
        height: 100%;
      }
    }
  }
}

/* Sidenav */

.sidenav-wrapper {
  .sidenav {
    width: 320px;
    min-width: 320px;
    background: white;
    box-shadow: 0 14px 20px 0 rgba(23, 43, 77, 0.06);
    @media (max-width: 768px) {
      display: none;
    }
    &__container--full-height {
      height: 100%;
      >.row {
        height: 100%;
      }
    }
  }
  .container-fluid .main>*:last-child {
    width: 100%;
    > div {
      height: 100%;
    }
  }
}