nav {
    background-color: #000000;
    color: #fff;
    a{
        cursor: pointer;
        font-size: 14px;
        &:hover {
            background-color: #838C00;
        }
    }
}

.is-active {
    background-color: #838C00;
}

#btn-addkey {
    font-size: 14px;
}