<nav class="nav flex-column mb-3">
  <a class="nav-link d-flex justify-content-between align-items-baseline" 
    *ngFor="let field of fieldList" 
    (click)="getSelectedItem(field.id)" 
    [ngClass]="{'is-active': field.id === idField}">{{ field.keyName }} <i class="fas fa-angle-right"></i></a>    
</nav>

