<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a>DATA GATE</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="is-active"
            [routerLinkActiveOptions]={exact:true}>Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="['/404']" routerLinkActive="is-active">Review</a>
          <a class="nav-item nav-link" [routerLink]="['/requests/list']" routerLinkActive="is-active">Request</a>
          <a class="nav-item nav-link" [routerLink]="['/manage/information']"  [ngClass]="{'is-active': editActive.isActive || informationActive.isActive}">Manage</a>
          <a class="nav-item nav-link" [routerLink]="['/manage/edit']" routerLinkActive="is-active" #editActive="routerLinkActive" style="display: none;"></a>
          <a class="nav-item nav-link" [routerLink]="['/manage/information']" routerLinkActive="is-active" #informationActive="routerLinkActive" style="display: none;"></a>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  
</header>

