.navbar  {       
    .navbar-collapse {
        border-bottom: solid #ECECEC;      
    }    
    a {
        color: #838C00;
    }        
}

.is-active {    
        background-color: #838C00;
        color: #fff !important;
}

    
