#tabs { 
    padding: 0;   
    li {
        display: inline;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    a{
        font-family: sans-serif;
        font-size: 13px;
        color: #000;
        font-weight: 700;
        text-decoration: none;       
        padding: 7px 15px;          
        cursor: pointer;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
            &:hover {
             background-size: 100% 2px;
            }
            
           
    }
    .is_active {
        color: #000;
        padding: 7px 15px;    
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        transition: background-size .3s;
        background-size: 100% 2px;
    }
}

.status-pending {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.status-approved {
    color: #fff;
    background-color: #838C00;
    border-color: #838C00;
}

.status-denied {
    color: #fff;
    background-color: #AE0000;
    border-color: #AE0000;
}

.breadcrumb {
    background-color: #838C00;    
}

.breadcrumb-item {
    &.active {
        color: #fff;
    }
}
