<div class="container mt-4">
  <div class="row">
    <h1>Requests</h1>
    <div class="col-12 d-flex mt-4">
      <ul id="tabs">
        <li><a (click)="getstatus('all')"  [ngClass]="{'is_active': statusFiltro === 'all'}">ALL</a></li>
        <li><a (click)="getstatus('Pending')" [ngClass]="{'is_active': statusFiltro === 'Pending'}">PENDING</a></li>
        <li><a (click)="getstatus('Approved')" [ngClass]="{'is_active': statusFiltro === 'Approved'}">APPROVED</a></li>
        <li><a (click)="getstatus('Denied')" [ngClass]="{'is_active': statusFiltro === 'Denied'}">DENIED</a></li>
      </ul>
    </div>
    <div class="col-12 mt-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">PENDING REQUESTS</li>
        </ol>
      </nav>
    </div>
    <div class="col-12 mt-4">
      <table class="table table-borderless table-sm">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">REASON</th>
            <th scope="col" style="text-align: center;">STATUS</th>          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of requestsFiltered">            
            <td>{{r.date}}</td>
            <td>{{r.reason}}</td>
            <td style="width: 10%;"><button type="button" class="btn btn-sm btn-block" 
                [ngClass]="{'status-pending': r.status === 'Pending', 
                            'status-approved': r.status === 'Approved', 
                            'status-denied': r.status === 'Denied'}">{{r.status}}</button></td>
          </tr>
         
        </tbody>
      </table>
    </div>

    
    
  </div>
</div>