.breadcrumb {
    background-color: #838C00;    
}

.breadcrumb-item {
    &.active {
        color: #fff;
    }
}

#btn-edit {
    background-color: #838C00;
    border-color: #838C00;
    color: #fff;
    font-size: 14px;
}

p {
    font-size: 14px;
}
