<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <h2>Manage data</h2>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3">
      <app-menu-izquierdo (obtenerId)="getInfo($event)"></app-menu-izquierdo>
      <button type="button" id="btn-addkey" class="btn btn-outline-secondary mb-4">+ Add Key</button>
    </div>    
    <div class="col-lg-7 col-sm-12 col-md-7">            
      <div class="col-md-12">        
        <h4><strong>{{keyName}}</strong></h4>
      </div>
      <div class="col-12 mt-4">
        <label for=""><strong>Description</strong></label>
        <p>{{description}}</p>
      </div>
      <div class="col-3 mt-4">
        <label for=""><strong>Type</strong></label>
        <p>{{typeName}}</p>
      </div>
      <div class="col-12 mt-4">
        <label for=""><strong>Sensitivity</strong></label>
        <p>{{sensitivity}}</p>
      </div>
      <div class="col-12 mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><strong>POSSIBLE VALUES</strong></li>
          </ol>
        </nav>
        <div class="col-12 d-flex mt-4">
          <div class="col-md-4">
            <label for=""><strong>VALUE</strong></label>
            <p>null</p>
            <p>integer</p>
          </div>
          <div class="col-md-8">
            <label for=""><strong>DESCRIPTION</strong></label>
            <p>Value when user is not found</p>
            <p>ID key of user</p>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-lg-2 col-sm-6 col-md-2">
      <button type="button" id="btn-edit" class="btn btn-primary btn-lg" (click)="editar()"><i class="far fa-edit"></i>&nbsp; Edit this</button>
    </div>
  </div>
</div>

