<div class="container">
  <div class="row justify-content-md-center pt-4"> 
    <div class="col-lg-6 col-md-12">
      <h1>Front End - Test Case</h1>
      <h2>José Jan Pierre Sánchez Manosalva</h2>
    </div>          
  </div>
</div>