<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <h2>Manage data</h2>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-3" id="menuizq" style="pointer-events:none; ">
      <app-menu-izquierdo></app-menu-izquierdo>
    </div>
    <div class="col-lg-7 col-sm-12 col-md-7">
      <form  novalidate [formGroup]="editForm">    
          <div class="alert alert-success" role="alert" id="success-alert">
            Se guardó correctamente!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>                  
          <div class="col-md-5">
            <label for=""><strong>Key name</strong></label>
            <input 
            type="text" 
            class="form-control" 
            formControlName="keyName"
            >
          </div>
          <div class="col-12 mt-4">
            <div class="form-group" >
              <label for=""><strong>Description</strong></label>
              <input type="text" class="form-control" formControlName="description">
            </div>          
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 mt-4">
            <label for=""><strong>Type</strong></label>
            <select class="form-control" formControlName="type">
              <option value="">Seleccione</option>
              <option *ngFor="let t of types" [value]="t.id">{{t.name}}</option>              
            </select>
          </div>
          <div class="col-12 mt-4">            
            <label><input type="checkbox" id="checkSensitivity" name="checkSensitivity" formControlName="checkSensitivity"> Is this personal data?</label>            
          </div>
          <div class="col-12 mt-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><strong>POSSIBLE VALUES</strong></li>
              </ol>
            </nav>
            <div class="col-12 d-flex">
              <div class="col-md-4">
                <label for=""><strong>VALUE</strong></label>
                <p>null</p>
                <p>integer</p>
              </div>
              <div class="col-md-8">
                <label for=""><strong>DESCRIPTION</strong></label>
                <p>Value when user is not found</p>
                <p>ID key of user</p>
              </div>
            </div>
            <button type="button" class="btn btn-outline-secondary mb-5">+ Add possible value</button>
          </div>              
      </form>
    </div>
    <div class="col-lg-2 col-sm-6 col-md-2">
      <button type="button" id="btn-edit" class="btn btn-primary btn-lg" (click)="grabar()"><i class="far fa-save"></i>&nbsp; Save</button>
    </div>
  </div>
</div>